  <div class="media bottom-line" style="font-size: 85%;">
    <div class="media-left">
      <a href="#">
        <%= image_tag @inscrito.foto.url(:medium), class: "media-object", alt: @inscrito.nome %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @inscrito.nome %></h4>
      <div class="row">
        <div class="col-sm-12">
          Grupo: <%= @inscrito.grupo.nome %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Estado: <%= @inscrito.estado %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          Fone: <%= @inscrito.fone %>
        </div>
        <div class="col-sm-6 col-md-3">
          Celular: <%= @inscrito.celular %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Endereço: <%= @inscrito.endereco %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Complemento: <%= @inscrito.complemento %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Cidade/UF: <%= @inscrito.cidade+'/'+@inscrito.estado %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          cep: <%= @inscrito.cep %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          email: <%= @inscrito.email %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <%= link_to edit_admin_inscrito_path(@inscrito), class: "btn btn-default" do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
          <% end %>
          <%= link_to admin_inscritos_path, class: "btn btn-default" do %>
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Retornar
          <% end %>
        </div>
      </div>


      </div>
  </div>
  </div>


